body *{
    display: flex;
    outline: 0;
}

.login-group{
    flex-direction: column;
    align-content: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    width: min-content;
}
.login-group input{
    border-radius: 7px;
}
.login-group *:not(:first-child){
    margin-top: 2vh;
}
.login-group button{
    border-radius: 7px;
    width: 50%;
    align-self: center;
}